.statsTitle {
  font-size: 35px;
}

.statsTitleContainer {
  padding: 3%;
  height: 100vh;
}

.darkTheme {
  background-color: #121212;
  color: white;
}

.lightTheme {
  background-color: white;
  color: black;
}
