/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.navTitle {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding-top: 14px;
  padding-left: 14px;
  font-weight: 600;
  text-decoration: none;
  font-size: 17px;
}

.toggleThemeButton {
  float: right;
  margin-right: 5%;
  cursor: pointer;
  padding-top: 14px;
  padding-left: 14px;
  padding-bottom: 10px;
  color: white;
}

.navbar-dark {
  background-color: #1f1f1f;
}

.navbar-light {
  background-color: #6200ee;
}
